<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApp1.My.MySettings.ADM_CONConnectionString"
            connectionString="Data Source=NOTEHOUSE;Initial Catalog=ADM_CON;Persist Security Info=True;User ID=sa;Password=Abcd.123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
